<!DOCTYPE html>
<html>
  <head>
    <title>Mushin</title>
    <link rel="stylesheet" href="<%= assets %>/screen.css" type="text/css">
  </head>
  <body>
    <div id="header">
      <h2><a href="<%= index %>">Mushin</a></h2>
    </div>
    <div id="content">
    <!-- form to create a thing -->
    <form id="new-thing" action="new.html" method="post">
      <h1>Create a new thing</h1>
      <p><label>Description: </label>
         <input type="text" size="80" name="description" value="<%= description %>"></p>
      <p><label for="projects">Projects: </label>
          <input type="text" name="projects" value="" id="projects"></p>
      <p><label for="context">Contexts: </label>
         <input type="text" name="contexts" value="" id="contexts"></p>
      <p>
        <input type="submit" value="Save &rarr;"/> <span id="saved" style="display:none;">Saved</span>
        </p>
    </form>
  </body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js?1.2.6"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="/_utils/script/jquery.cookies.js"></script>
  <script src="<%= assets %>/jquery.scrollTo.js"></script>
  <script src="<%= assets %>/vendor/couchapp/jquery.couchapp.js"></script>
  <script src="<%= assets %>/thing.js"></script>
  <script src="<%= assets %>/textile.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.CouchApp(function(app) {
      app.loggedInNow(function(login) {
        // w00t, we're logged in (according to the cookie)
        $("#header").prepend('<span id="login">'+login+'</span>');
        // setup CouchApp document/form system, adding app-specific callbacks
        // rename docForm?
        var B = new Thing(app);
        // thin controller - move to B?

        var postForm = app.docForm("form#new-thing", {
          id : <%= docid %>,
          fields : ["description", "projects", "contexts"],
          template : {
            type : "thing",
            author : login
          },
          onLoad : function(doc) {
            if (doc._id) {
              B.editing(doc._id);
              $('h1').html('Editing <a href="../thing/'+doc._id+'">'+doc._id+'</a>');
              $('#preview').before('<input type="button" id="delete" value="Delete Post"/> ');
              $("#delete").click(function() {
                postForm.deleteDoc({
                  success: function(resp) {
                    $("h1").text("Deleted "+resp.id);
                    $('form#new-thing input').attr('disabled', true);
                  }
                });
                return false;
              });
            }
            $('label[for=body]').append(' <em>with '+(doc.format||'html')+'</em>');
          },
          beforeSave : function(doc) {
            if (!doc.start) {
              doc.start = new Date();
            }
            if(doc.tags) {
              doc.tags = doc.tags.split(",");
              for(var idx in doc.tags) {
                doc.tags[idx] = $.trim(doc.tags[idx]);
              }
            }
          },
          success : function(resp) {
            $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(3000);
            B.editing(resp.id);
          }
        });  

      }, function() {
        app.go('<%= assets %>/account.html#'+document.location);
      });
    });
  </script>
</html>
