    </ul>
  </div>
</body>
<script src="/_utils/script/json2.js"></script>
<script src="/_utils/script/jquery.js"></script>
<script src="/_utils/script/jquery.couch.js"></script>
<script src="<%= assets %>/vendor/couchapp/date.js"></script>
<script src="<%= assets %>/jquery.mushin.js"></script>
<script type="text/javascript" charset="utf-8">
  $.MushinApp(function(app) {
      
    // this could be a real jQuery plugin. probably is. #lazycode
    $('.date').each(function() {
      $(this).text(app.prettyDate(this.innerHTML));
    });
  });
</script>
</html>
